body {
  overflow: auto;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
}




header {

  padding: 1%;
  top:0%;
  display: flex;
  gap:1%;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 1;
  height: 10vh;
  width: 97vw;
  background-color: #000000;
  overflow: visible;
  padding-top: 3vh;
  

  animation: cambiarheader linear both;
  animation-timeline: scroll(root block);
  animation-range: 240px;
}

@keyframes cambiarheader{
  to{
    backdrop-filter: blur(50px);
    height: 4vh;
    
  }
}


.buscador {
width: 27vw;
height: 6vh;
border-radius: 45px;
background-color: #656565;
padding-left: 12%;
font-size: 100%;
border: 2px solid rgb(85, 84, 84);
background-image: url(imagenes/lupa.png) ;
background-repeat: no-repeat;
background-position: 3%  12% ;
background-size: contain;

}

.buscador::placeholder {
  color: #929292;
}


.category {
  height: auto;
  width: 100%;
  display:flex;
  gap:10%;
  align-items: center;
  position: relative; /* Añadido position:relative para utilizar left */
  
}



.category p {
  cursor: pointer;
  width: 11vw; /* Cambiado a 'auto' para que se ajuste al contenido */
  background-color: #CF01F7;
  height: 6vh;
  margin:1%;
  font-weight: bold;
  font-size: 200%;
  

}

.category img:not(.logo img){
  cursor: pointer;
  padding-left:8% ;
  



}


.category .logo {
  width: 100%; /* Ajusta el ancho del contenedor del logo al 50% del contenedor principal */
  padding-top: 50%;
 
 animation: encoger auto linear both; /* Arregla la propiedad animation */
 animation-timeline: scroll(root block);
 animation-range: 0 320px;
 
}





.category .logo img {
  width: 100%;
  height: auto;




}


@keyframes encoger{
  from {
    width: 100%;
    transform: translateX(0);
    transform: translateY(0);
  }
  
   to {
    width: 40%;
    transform: translateX(-5vw);
    transform: translateY(-8vh);
  
  }

}



.category p:hover {
  outline:1px solid wheat;
  background-color: #d321f7;
  box-shadow: 0 0 15px purple ;
  
}

.category img:hover:not(.logo img) {
  transform: scale(1.1);
}


.navbar {
  width: 79%;
  height: 7%;
  top: 15vh;
  left:20vw;
  background-color: #00FFA6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  padding: 10px;
  margin-left: 18%;

}


.navbar a {
  text-decoration: none;
  color: white;
  display: block;
}

.navbar a:hover {
  background-color: #007D5E;
}

main {
  position: relative;
  display: flex;
  padding: 20px;
  padding-top: 20vh; /* Asegúrate de que este valor sea apropiado para tus necesidades */
  align-items: center;
  justify-content: space-around;
}


.item {    /*producto + descripcion*/
position: relative;
text-align: center;
 
  
}

.producto {
  width: 21vw;
  height: 66vh;
  position: relative;
  overflow:hidden; /* Asegura que la imagen no se salga del contenedor */
  border: 2px solid rgb(155, 24, 24);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.producto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.producto.producto1 {
  background-image: url('imagenes/sudaderadetras.jpg');
}

.producto.producto2 {
  background-image: url('imagenes/negradetras.jpg');
}

.producto.producto3 {
  background-image: url('imagenes/verdedetras.jpg');
}

.producto img:hover{
  opacity: 0;
  cursor: pointer;
}

.tallas {
  bottom:0px;
  height: 6%;
  width: 100%;
  background-color: darkred;
  z-index: auto; /* Cambia el valor de z-index a auto o a un número menor según sea necesario */
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:3%;
  font-weight: bold;
}

.item:hover .tallas {
  opacity: 0.8;
  cursor: pointer;
}
.descripcion {
  text-align: center;
  width: 21vw;
  height: 16vh;
  margin-top: 2vh;
  background-color: #4d4848;
  border: 3px solid rgb(179, 187, 184);
  display: grid;
  grid-template-columns: auto auto; /* Ajusta las proporciones según tus preferencias */
  grid-gap: auto; /* Ajusta el espacio entre las celdas según tus preferencias */
  justify-content: center;
  align-content: center;

}

.descripcion p {
  font-weight: bold;
  font-size: 180%;
  margin: 1px 0;
  border: 1px solid rgb(20, 180, 127);
  padding: 5px; /* Ajusta el espaciado según tus preferencias */
}

.descripcion p:nth-child(1) {
  /* Estilos para el primer párrafo */
  text-transform: uppercase;
  color: #36ffbc;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 200%;

}

.descripcion p:nth-child(2) {
  /* Estilos para el segundo párrafo */
  font-weight: bold;
  font-size: 240%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  
}
.descripcion p:nth-child(3) {
  font-weight: bold;
  font-size: 80%;
  color: #727373;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.descripcion img {
  
  padding: 10%; /* Ajusta el espaciado según tus preferencias */
}



footer {
  
  position:static;
  bottom: 0px;
  width: 98%;
  padding: 10px; /* Reducir la altura del padding */
  text-align: center;
  align-items: center;

}

.line {
  border:  solid #ff00ff;
  width: 99%;
  margin-top: 20px; /* Añadir margen superior para separar del contenido */
  margin-bottom: 2%
}

/* Ajustar la posición y tamaño de las imágenes del footer */
footer img {
  
  width: 5%; /* Reducir el tamaño de las imágenes según tus necesidades */
  margin: 0 7%; /* Reducir el espacio entre las imágenes */
  border:1px solid rgb(48, 231, 24) ;
  max-width: 100%;
}