body {
  overflow: auto;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  box-sizing:border-box;
}

#contienelogo {
  width: 17vw;
  height: 40vh; 
  z-index: 3!important;
  position: relative; /* Agregado para establecer un contexto de posicionamiento para .logogrande */
}

.logogrande {
  position: sticky;
  z-index: 2;
  top: 0; /* Especifica la posición de referencia */
  margin: 0;
  padding: 0;
 
}
.logogrande img {
  max-width:100%;
  max-height: max-content;
  width: auto; /* Ajusta el ancho del logo al 100% del contenedor del logo */
  height: auto; 
  background-color: #000000;

}


.header {

  padding: 1%;
  top:0%;
  display: flex;
  gap:1%;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  height: 10vh;
  width: 97vw;
  background-color: #000000;
  overflow: visible;
  padding-top: 3vh;
  
  
}


.buscador {
width: 27vw;
height: 6vh;
border-radius: 45px;
background-color: #656565;
padding-left: 12%;
font-size: 100%;
border: 2px solid rgb(85, 84, 84);
background-image: url(imagenes/lupa.png) ;
background-repeat: no-repeat;
background-position: 3%  12% ;
background-size: contain;

}

.buscador::placeholder {
  color: #929292;
}





.category {
  height: auto;
  width: 100%;
  display:flex;
  gap:10%;
  align-items: center;
  position: relative; /* Añadido position:relative para utilizar left */
  
}


.category p {
  cursor: pointer;
  width: 11vw; /* Cambiado a 'auto' para que se ajuste al contenido */
  background-color: #CF01F7;
  height: 6vh;
  margin:1%;
  font-weight: bold;
  font-size: 200%;
  

}


.category img{
  cursor: pointer;
  justify-content:flex-end;
  padding-left:8% ;

}

.category .logo {
  width: 45%; /* Ajusta el ancho del contenedor del logo al 50% del contenedor principal */
  max-width: 400px; /* Establece un ancho máximo para el contenedor del logo */
  padding-left:25% ;
  
 
}

.category .logo img {
  width: 100%; /* Ajusta el ancho del logo al 100% del contenedor del logo */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción original del logo */
  cursor: initial;

}


.navbar {
  width: 76%;
  height: 7%;
  background-color: #00FFA6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  position: absolute;
  top: 17%;
  left: 20%;
  overflow: hidden;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  background-color: #007D5E;
}

.main {
  position: relative;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 35vh;
  
}

.item {    /*producto + descripcion*/
border: 2px solid hotpink;

 
  
}

.producto {
  width: 21vw;
  height: 66vh;
  position: relative;
  overflow:hidden; /* Asegura que la imagen no se salga del contenedor */
  border: 2px solid rgb(155, 24, 24);

  
}

.producto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.descripcion {
  text-align: center;
  width: 21vw;
  height: 16vh;
  margin-top: 2vh;
  background-color: #4d4848;
  border: 3px solid rgb(179, 187, 184);
  display: grid;
  grid-template-columns: auto auto; /* Ajusta las proporciones según tus preferencias */
  grid-gap: auto; /* Ajusta el espacio entre las celdas según tus preferencias */
}

.descripcion p {
  font-weight: bold;
  font-size: 180%;
  margin: 1px 0;
  border: 1px solid rgb(20, 180, 127);
  padding: 5px; /* Ajusta el espaciado según tus preferencias */
}

.descripcion p:nth-child(1) {
  /* Estilos para el primer párrafo */
  text-transform: uppercase;
  color: #36ffbc;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;

}

.descripcion p:nth-child(2) {
  /* Estilos para el segundo párrafo */
  font-weight: bold;
  font-size: 240%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
}
.descripcion p:nth-child(3) {
  font-weight: bold;
  font-size: 80%;
  color: #727373;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.descripcion img {
  
  padding: 5%; /* Ajusta el espaciado según tus preferencias */
}



.producto p {
  margin: 5px 0;
  border:1px solid rgb(20, 180, 127) ;
}

.footer {
  
  position:static;
  bottom: 0px;
  width: 98%;
  padding: 10px; /* Reducir la altura del padding */
  text-align: center;
  align-items: center;
  bottom: 0px; /* Añadir margen superior para separar del contenido */
   border:1px solid rgb(48, 231, 24) ;

}

.line {
  border:  solid #ff00ff;
  width: 99%;
  margin-top: 20px; /* Añadir margen superior para separar del contenido */
  margin-bottom: 2%
}

/* Ajustar la posición y tamaño de las imágenes del footer */
.footer img {
  
  width: 5%; /* Reducir el tamaño de las imágenes según tus necesidades */
  margin: 0 7%; /* Reducir el espacio entre las imágenes */
  border:1px solid rgb(48, 231, 24) ;
}