/************ MOVIL ****************/

body {
  overflow: auto;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  background-image: url(imagenes/fondomovil.jpg);
  background-repeat: no-repeat;
  background-position: 35% 12%;
  background-size: cover;
}

  /*! HEADER */
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 9vh;
    background-color: #000000;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
  }

  .category {
    display: flex;
    align-items: center;
  }

  .category .logo {
    width: 16vw;
    
  }
  .category .logo img {
    width: 100%;
    height: auto;
  }
  .category img:not(.logo img) {
    width: auto;
    height: 4.5vh; /* Unidad relativa */
  }

  .buscador {
    width: 11vw;
    height: 6vh;
    background-color: #faf7f7;
    font-size: 100%; /* Unidad relativa */
    border: 2px solid rgb(85, 84, 84);
    background-image: url(imagenes/lupa.png);
    background-repeat: no-repeat;
    background-position: 35% 12%;
    background-size: contain;
    margin-left:-25%;
    padding-left: 20%;
  }
  .buscador::placeholder {
    color: transparent;
}

  .buscador:focus {
    background-image: none;
    width: 14vw;
    height: 4vh;
  }

  /*! NAVBAR */
  .navbar {
    width: 100vw;
    height: 6vh; /* Unidad relativa */
    margin-top: 10vh; /* Unidad relativa */
    background-color: #00FFA6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw; /* Unidad relativa */
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 4vw; /* Unidad relativa */
  }

  .navbar a {
    text-decoration: none;
    color: white;
    display: block;
  }

  .navbar a:hover {
    background-color: #007D5E;
  }

  /*! MAIN */

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5vh; /* Unidad relativa */
    position: relative;
 
  }

  .item {
    width: 80vw;
    margin: 1vw; /* Unidad relativa */
    padding: 1vw; /* Unidad relativa */
    background-color: #ffffff;
    border-radius: 2vw; /* Unidad relativa */

  }
  .sale {
    display: inline-flex;
    position: absolute;
    top: -1vh;
    left: 2vw;
    background-color: #ff00ff;
    width: 25vw; /* Ancho ajustable según tu diseño */
    height: 5vh; /* Altura ajustable según tu diseño */
    z-index: 1; 
    align-items: center;
    justify-content: center;
    border-radius: 1.5vh; /* Ajustable según el diseño */
    box-shadow: 0 0.3vh 0.5vh rgba(0, 0, 0, 0.3); /* Sombra suave */
    font-family: Arial, sans-serif; /* Tipo de fuente */
    font-weight: bold;
    font-size: 2vh; /* Tamaño de fuente */
    color: #ffffff; /* Color de texto */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    letter-spacing: 0.1vw; /* Espaciado entre letras */
    text-shadow: 0 0.1vh 0.2vh rgba(0, 0, 0, 0.3); /* Sombra de texto */
    transition: all .5s ease; /* Animación suave */
}

  .producto {
    width: 100%;
    margin-bottom: 1vw; /* Unidad relativa */
  }

  .producto img {
    width: 100%; /* Opcional: asegura que la imagen ocupe todo el espacio disponible */
    height: 100%; /* Opcional: asegura que la imagen ocupe todo el espacio disponible */
    max-width: 100%; /* Garantiza que la imagen no exceda su contenedor */
    max-height: 100%; /* Garantiza que la imagen no exceda su contenedor */
    object-fit: cover; /* Escala la imagen manteniendo su relación de aspecto, cubriendo todo el contenedor */
    border-radius: 2vw; /* Unidad relativa */
  }

  .tallas {
    display: flex;
    justify-content: center;
    gap:10%;
    opacity: .7;
  }

  .descripcion {
    text-align: left;
    display: grid;
    grid-template-columns: 3fr 1fr; /* Dos columnas de igual tamaño */
    grid-template-rows: repeat(2, auto); /* Dos filas con altura automática */
    gap: 10px; /* Espacio entre las celdas */
    align-items: stretch;
    justify-items: center;
    
}

  .descripcion p {
    margin: 0.5vw 0; /* Unidad relativa */
    
  }

  .descripcion p:nth-child(1) ,
  .descripcion p:nth-child(2){
    margin: 0.5vw 0; /* Espacio entre el primer párrafo y los demás */
    padding: 1vw; /* Espacio dentro del borde */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    font-size: 5vw; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: #333; /* Color de texto gris oscuro */
}

.descripcion p:nth-child(3) {
  margin: 0.5vw 0; /* Espacio entre el primer párrafo y los demás */
  padding: 1vw; /* Espacio dentro del borde */
  font-size: 4vw; /* Tamaño de fuente grande */
  color: #333; /* Color de texto gris oscuro */
}

  .descripcion img {
    width: 89%; /* Unidad relativa */
    height: 85%; /* Unidad relativa */
    margin: 1vw; /* Unidad relativa */
  }

  /*! FOOTER */
  footer {
    position: static;
    bottom: 0px;
    width: 98%;
    padding: 1vw; /* Unidad relativa */
    text-align: center;
    align-items: center;
    background-color: #000000;
    margin-top: 2vh;
  }

  .line {
    border: 1px solid #ff00ff; /* Corrección */
    width: 90%;
    margin-top: 2vw; /* Unidad relativa */
    margin-bottom: 0.2vw; /* Unidad relativa */
  }

  /* Ajustar la posición y tamaño de las imágenes del footer */
  footer img {
    width: 9vw; /* Unidad relativa */
    margin: 0 4vw; /* Unidad relativa */
    max-width: 100%;
  }

/************ FIN MOVIL  *************/
/************  TABLET  ***************/

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  body {
    background-image: url(imagenes/fondotablet.jpg);
    
  }
 /*! HEADER */

.buscador {
  width: 20vw;
  height: 5vh;
  font-size: 2vw;
  margin-left: 15vw;
  background-position: 5% 12%;
  padding-left: 25%;
  border-radius: 50px;
    
}

/*! MAIN */
main {
  flex-wrap: wrap;
  flex-direction:row;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1vw; /* Espacio entre elementos */
  max-width: 99%;
  align-items: stretch;
}

.item {
  width: 40vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1); /* Unidad relativa */
}

.producto img {
  height: 50vh;
}

.tallas {
 font-size: 2.2vw;
  gap:10%;
}

.descripcion p:nth-child(1) ,
.descripcion p:nth-child(2){
  margin: 0.5vw 0; /* Espacio entre el primer párrafo y los demás */
  padding: 1vw; /* Espacio dentro del borde */
  font-size: 2.5vw; /* Tamaño de fuente grande */
}

.descripcion p:nth-child(3) {
font-size: 2.5vw; /* Tamaño de fuente grande */
}

.descripcion img {
  width: 85%; /* Unidad relativa */
  height: 65%; /* Unidad relativa */
}


}

/************ FIN TABLET  ****************/

/************ ORDENADOR ****************/

@media screen and (min-width: 1025px) {
  
body {
  background-image: url(imagenes/fondo.jpg);
}


/*! HEADER */

header {
  padding: 1%;
  gap:1%;
  justify-content: center;
  position: sticky;
  overflow: visible;
  padding-top: 3vh;
  

  animation: cambiarheader linear both;
  animation-timeline: scroll(root block);
  animation-range: 240px;
}

@keyframes cambiarheader{
  to{
    backdrop-filter: blur(50px);
    height: 4vh;
    
  }
}

.buscador {
width: 27vw;
border-radius: 45px;
padding-left: 15%;
font-size: 100%;
background-position: 3%  12% ;
}
.buscador::placeholder {
  color:rgb(85, 84, 84);
}

.category {
  height: auto;
  width: 100%;
  gap:10%;
}

.category p {
  cursor: pointer;
  width: 11vw; /* Cambiado a 'auto' para que se ajuste al contenido */
  background-color: #CF01F7;
  height: 6vh;
  margin:1%;
  font-weight: bold;
  font-size: 200%;

}

.category img:not(.logo img){
  cursor: pointer;

}

.category .logo {
  padding-top: 50%;
 
 animation: encoger auto linear both; /* Arregla la propiedad animation */
 animation-timeline: scroll(root block);
 animation-range: 0 320px;
 
}

@keyframes encoger{
  from {
    width: 100%;
    transform: translateX(0);
    transform: translateY(0);
    
  }
  
   to {
    width: 40%;
    transform: translateX(-5vw);
    transform: translateY(-8vh);
  
  }

}

.category p:hover {
  outline:1px solid wheat;
  background-color: #d321f7;
  box-shadow: 0 0 15px purple ;
}

.category img:hover:not(.logo img) {
  transform: scale(1.1);
}

/*! NAVBAR */

.navbar {
  width: 79%;
  left:20vw;
  justify-content: space-around;
  font-size: 2vw;
  padding: 10px;
  margin-left: 18%;

}

/*! MAIN */

main {
  padding: 20px;
  padding-top: 20vh; /* Asegúrate de que este valor sea apropiado para tus necesidades */
  justify-content: space-around;
  max-width: 99%;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch
}


.item {    /*producto + descripcion*/
width: 25vw;

}
.sale {
  top: 18vh;
  left: 2vw;
  width: 20vw; /* Ancho ajustable según tu diseño */
  height: 10vh; /* Altura ajustable según tu diseño */
  font-size: 4vh; /* Tamaño de fuente */
}


.producto {
  height: 80%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2vw;
}


.producto.producto1 {
  background-image: url('imagenes/sudaderadetras.jpg');
}

.producto.producto2 {
  background-image: url('imagenes/negradetras.jpg');
}

.producto.producto3 {
  background-image: url('imagenes/verdedetras.jpg');
}
.producto.producto4 {
  background-image: url('imagenes/pantaloncuadrosdetras.jpg');
}

.producto.producto5 {
  background-image: url('imagenes/pantalonrotodetras.jpg');
}

.producto.producto6 {
  background-image: url('imagenes/gorrodetras.jpg');
}

.producto img:hover{
  opacity: 0;
  cursor: pointer;
}

.tallas {
  bottom:0px;
  width: 100%;
  background-color: rgb(189, 178, 178);
  position: absolute;
  opacity: 0;

  font-weight: bold;
}

.item:hover .tallas {
  opacity: 0.8;
  cursor: pointer;
}

.descripcion p:nth-child(1) ,
.descripcion p:nth-child(2){
  margin: 0.5vw 0; /* Espacio entre el primer párrafo y los demás */
  padding: 0vw; /* Espacio dentro del borde */
  font-size: 1.5vw; /* Tamaño de fuente grande */
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  color: #333; /* Color de texto gris oscuro */
}
.descripcion p:nth-child(3) {
  font-weight: bold;
  font-size: 100%;
  color: #727373;
  
}

.descripcion img {
  width: 70%; /* Unidad relativa */
  height: 65%; /* Unidad relativa */
}


/*! FOOTER */

footer img {
  width: 5%; /* Reducir el tamaño de las imágenes según tus necesidades */
  margin: 0 7%; /* Reducir el espacio entre las imágenes */
}




}
/************ FIN ORDENADOR ****************/