body {
    background-color: black;}

 .rectangulogris {
    width: 210px; /* Ancho del rectángulo */
    height: 170px; /* Altura del rectángulo */
    background-color:#BCBCBC; /* Color de fondo gris */
    position: absolute; /* Posicionamiento absoluto */
    top: 5%; /* Distancia desde la parte superior */
    left: 6%; /* Distancia desde la izquierda */
    
 }
 .hombre {
    width: 150px; /* Ancho del rectángulo */
    height: 50px; /* Altura del rectángulo */
    background-color: #CF01F7; /* Color de fondo fucsia */
    display: flex; /* Usar el modelo de caja flexible para centrar el texto */
    align-items: center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Centrar horizontalmente el contenido */
    color: black; /* Color del texto negro */
    position: absolute; /* Posicionamiento absoluto */
    top: 5%; /* Distancia desde la parte superior */
    left: 20%; /* Distancia desde la izquierda */
    
  }
  .mujer {
    width: 150px; /* Ancho del rectángulo */
    height: 50px; /* Altura del rectángulo */
    background-color: #CF01F7; /* Color de fondo fucsia */
    display: flex; /* Usar el modelo de caja flexible para centrar el texto */
    align-items: center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Centrar horizontalmente el contenido */
    color: black; /* Color del texto negro */
    position: absolute; /* Posicionamiento absoluto */
    top: 5%; /* Distancia desde la parte superior */
    left: 30%; /* Distancia desde la izquierda */
    
  }
  .niños {
    width: 150px; /* Ancho del rectángulo */
    height: 50px; /* Altura del rectángulo */
    background-color: #CF01F7; /* Color de fondo fucsia */
    display: flex; /* Usar el modelo de caja flexible para centrar el texto */
    align-items: center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Centrar horizontalmente el contenido */
    color: black; /* Color del texto negro */
    position: absolute; /* Posicionamiento absoluto */
    top: 5%; /* Distancia desde la parte superior */
    left: 40%; /* Distancia desde la izquierda */
    
  }

  .navbar {
    width: 1450px; /* Ancho del rectángulo */
    height: 50px; /* Altura del rectángulo */
    background-color: #00FDA3; /* Color de fondo fucsia */
    display: flex; /* Usar el modelo de caja flexible para centrar el texto */
    align-items: center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Centrar horizontalmente el contenido */
    color: black; /* Color del texto negro */
    position: absolute; /* Posicionamiento absoluto */
    top: 15%; /* Distancia desde la parte superior */
    left: 20%; /* Distancia desde la izquierda */
    
  }

  .lineafuxia {
    width: 1750px; /* Ancho del rectángulo */
    height: 10px; /* Altura del rectángulo */
    background-color: #CF01F7; /* Color de fondo fucsia */
    display: flex; /* Usar el modelo de caja flexible para centrar el texto */
    align-items: center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Centrar horizontalmente el contenido */
    color: black; /* Color del texto negro */
    position: absolute; /* Posicionamiento absoluto */
    top: 75%; /* Distancia desde la parte superior */
    left: 4%; /* Distancia desde la izquierda */
    
  }

  .sale {
    width: 210px; /* Ancho del rectángulo */
    height: 90px; /* Altura del rectángulo */
    background-color: #CF01F7; /* Color de fondo fucsia */
    display: flex; /* Usar el modelo de caja flexible para centrar el texto */
    align-items: center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Centrar horizontalmente el contenido */
    color: black; /* Color del texto negro */
    position: absolute; /* Posicionamiento absoluto */
    top: 34%; /* Distancia desde la parte superior */
    left: 3%; /* Distancia desde la izquierda */
    
  }
